/* 
0 - 600px    :     Phone
600 - 900px  :    Tablet Portrait
900 - 1200px :    Tablet Landscape
1200 - 1800px:    Where this style applies
1800px +     :    Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER : Base + typograpy > general layout + grid > page layout > componenets
1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit; }

html {
  font-size: 62.5%; }

.section-one {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  gap: 5rem; }
  .section-one h1 {
    font-size: 4rem;
    color: #e77e90; }

.steps {
  display: flex;
  align-items: center; }

.step {
  user-select: none;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid #60cc2e;
  border-radius: 100%;
  transition: all 1s; }
  .step--active {
    transition: all 1s;
    border-color: #e77e90; }

.bridge {
  width: 5rem;
  height: 0.3rem;
  background-color: #60cc2e;
  position: relative; }
  .bridge--active {
    transition: all 1s; }
    .bridge--active::after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: #e77e90;
      position: absolute;
      transition: all 1s; }

.buttons {
  display: flex;
  gap: 2rem; }

.btn {
  user-select: none;
  background-color: #e77e90;
  color: white;
  padding: 1rem 0;
  width: 8rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #df536b; }
  .btn:active {
    background-color: #d72846; }
  .btn--disabled {
    cursor: not-allowed;
    background-color: #f7d4da; }
    .btn--disabled:hover {
      background-color: #f7d4da; }

.section--2 {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: lightblue; }
