/* 
0 - 600px    :     Phone
600 - 900px  :    Tablet Portrait
900 - 1200px :    Tablet Landscape
1200 - 1800px:    Where this style applies
1800px +     :    Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER : Base + typograpy > general layout + grid > page layout > componenets
1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit; }

html {
  font-size: 62.5%; }

.section-one {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  gap: 5rem; }
  .section-one h1 {
    font-size: 4rem;
    color: #e77e90; }

.steps {
  display: flex;
  align-items: center; }

.step {
  user-select: none;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid #c5c5c5;
  border-radius: 100%;
  transition: all 1s; }
  .step--active {
    transition: all 1s;
    border-color: #e77e90; }

.bridge {
  width: 5rem;
  height: 0.3rem;
  background-color: #c5c5c5;
  position: relative; }
  .bridge--active {
    transition: all 1s; }
    .bridge--active::after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: #e77e90;
      position: absolute;
      transition: all 1s; }

.buttons {
  display: flex;
  gap: 2rem; }

.btn {
  user-select: none;
  background-color: #e77e90;
  color: white;
  padding: 1rem 0;
  width: 8rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #df536b; }
  .btn:active {
    background-color: #d72846; }
  .btn--disabled {
    cursor: not-allowed;
    background-color: #f7d4da; }
    .btn--disabled:hover {
      background-color: #f7d4da; }

.section--2 {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: lightblue;
  gap: 2rem; }
  .section--2 h1 {
    font-size: 3rem; }

.search-container {
  display: flex;
  transition: transform 0.7s ease; }

#search-input,
#search-btn {
  border: none;
  outline: none;
  background-color: honeydew;
  font-size: 2rem;
  padding: 1rem; }

.search-input {
  width: 20rem;
  transform: scaleX(0);
  transition: all 0.7s ease; }
  .search-input--active {
    width: 20rem;
    transform: scaleX(1);
    transition: all 0.7s ease; }

#search-btn {
  cursor: pointer; }

.search-btn {
  transform: translateX(-11rem);
  transition: all 0.7s ease; }
  .search-btn--active {
    transform: translateX(-1rem);
    transition: all 0.7s ease; }

.section--3 {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden; }

.pages {
  width: 100vw;
  display: flex;
  height: 100%; }
  .pages .page--1 {
    width: 50%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.205)), url(../img/ps.jpg); }
  .pages .page--2 {
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.205)), url(../img/xbox.jpg); }

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: width 0.4s ease; }
  .page h1 {
    font-size: 4rem;
    color: white; }
  .page button {
    font-size: 2rem;
    color: white;
    border: 0.3rem solid white;
    background-color: transparent;
    padding: 1rem 2rem; }

.pages--left .page--1 {
  width: 70%; }

.pages--left .page--2 {
  width: 30%; }

.pages--right .page--1 {
  width: 30%; }

.pages--right .page--2 {
  width: 70%; }

.section--4 {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #ddade6;
  gap: 3rem; }
  .section--4 h1 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase; }
  .section--4 #buttons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap; }

.btn--audio {
  user-select: none;
  background-color: yellowgreen;
  color: white;
  padding: 1rem 0;
  width: 8rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .btn--audio:hover {
    filter: brightness(110%); }
  .btn--audio:active {
    transform: translateY(0.2rem); }
