$color-1-1: rgb(231, 126, 144);
$color-1-2: rgb(96, 204, 46);

.section-one {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    gap: 5rem;

    h1 {
        font-size: 4rem;
        color: $color-1-1;
    }
}

.steps {
    display: flex;
    align-items: center;
}

.step {
    user-select: none;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    // padding: 1rem;
    border: 0.3rem solid $color-1-2;
    border-radius: 100%;
    transition: all 0.3s 0.3s;
    &--active {
        border-color: $color-1-1;
    }
}

.bridge {
    width: 5rem;
    height: 0.3rem;
    background-color: $color-1-2;
    position: relative;

    &--active {
        &::after {
            content: "";
            height: 100%;
            width: 100%;
            background-color: $color-1-1;
            position: absolute;

            transition: all 0.3s;
        }
    }
}

.buttons {
    display: flex;
    gap: 2rem;
}
.btn {
    user-select: none;

    background-color: $color-1-1;
    color: white;
    padding: 1rem 0;
    width: 8rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: darken($color-1-1, 10%);
    }
    &:active {
        background-color: darken($color-1-1, 20%);
    }

    &--disabled {
        cursor: not-allowed;
        background-color: lighten($color-1-1, 20%);

        &:hover {
            background-color: lighten($color-1-1, 20%);
        }
    }
}
